################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/SpaceCodingTamagotchi/.vs/SpaceCodingTamagotchi/FileContentIndex
*.v2
SpaceCodingTamagotchi/.vs/SpaceCodingTamagotchi/v17/.suo
SpaceCodingTamagotchi/.vs/SpaceCodingTamagotchi/v17/.suo
SpaceCodingTamagotchi/.vs/SpaceCodingTamagotchi/v17/.suo
SpaceCodingTamagotchi/Tamagotchi/obj
SpaceCodingTamagotchi/Tamagotchi/obj/Debug/net6.0/refint/Tamagotchi.dll
SpaceCodingTamagotchi/Tamagotchi/obj/Debug/net6.0/Tamagotchi.csproj.CoreCompileInputs.cache
SpaceCodingTamagotchi/Tamagotchi/obj/Debug/net6.0/Tamagotchi.dll
SpaceCodingTamagotchi/Tamagotchi/obj/Debug/net6.0/Tamagotchi.pdb
SpaceCodingTamagotchi/.vs/SpaceCodingTamagotchi/v17/.suo
SpaceCodingTamagotchi/Tamagotchi/bin
SpaceCodingTamagotchi/Tamagotchi/bin/Debug/net6.0/Tamagotchi.pdb
SpaceCodingTamagotchi/.vs/SpaceCodingTamagotchi/FileContentIndex/32bf93e9-a015-4c49-8c38-128d21a1aea6.vsidx
SpaceCodingTamagotchi/.vs/SpaceCodingTamagotchi/FileContentIndex/533e539d-0bd5-4a23-83a2-df4e9acc795a.vsidx
SpaceCodingTamagotchi/.vs/SpaceCodingTamagotchi/FileContentIndex/8449f3e2-5e90-4ebf-ad5b-0f3b448b711f.vsidx
SpaceCodingTamagotchi/.vs/SpaceCodingTamagotchi/FileContentIndex/c3180942-8e50-45cd-a848-6bf02b16b92a.vsidx
SpaceCodingTamagotchi/.vs/SpaceCodingTamagotchi/FileContentIndex/e5212e4d-1191-4c38-9ceb-f8fa8d82576b.vsidx
SpaceCodingTamagotchi/.vs/SpaceCodingTamagotchi/FileContentIndex/e5fd2392-bdb1-48ff-b2db-216c495120a7.vsidx
